* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden !important; */
}
body {
  overflow-x: hidden;
}
.nav-bar {
  height: 125px;
  min-width: 100vw;
  position: fixed;
  background-color: #2e2c2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  color: white;
  margin: 10px;
}
.logo-small {
  display: none;
  color: white;
  text-decoration: none;
}
i a {
  text-decoration: none;
}
.search-type-list {
  height: 30px;
  display: flex;
  margin-right: 5px;
}
#search-type-select {
  height: 100%;
  width: fit-content;
}
#search-type-select:focus {
  border: none;
  outline: none;
  background-color: white;
}
.search-wrapper {
  display: flex;
  min-width: 200px;
  width: 50%;
  margin: 10px;
}
.search-element {
  height: 30px;
  background-color: white;
}
.search-element:focus {
  background-color: white;
}
.search-element:active {
  background-color: #fff;
}
.search-bar {
  width: 80%;
  display: flex;
  justify-content: center;
}
#search-button {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 0 10px 10px 0;
  /* box-shadow: 0 0 2px 1px #333; */
  padding: 0 10px;
  border-left: 1px solid #6c6c7a;
  flex-shrink: 2;
}
#search-button:focus {
  /* border: none; */
  outline: none;
}
#search-button:active {
  background-color: rgba(240, 238, 238, 0.918);
}
#search-input {
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 1rem;
  padding-left: 10px;
  width: 100%;
}
#search-input:focus {
  outline: none;
  border: none;
}
.main {
  padding-top: 125px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 238, 238);
  min-height: 100vh;
  /* background-color: #6c6c7a; */
  /* min-height: 100vh;
  min-width: 100vw; */
}
.results {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 50px;
  margin-left: 5%;
  /* min-width: 100vw; */
  /* min-height: 100vh; */
  /* margin-left: -12px; */
}
.pagination {
  display: flex;
  position: fixed;
  top: 125px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100vw;
  overflow: hidden;
}
.pagination-button {
  display: none;
  background-color: #6c6c7a00;
  border: none;
  width: 50px;
  height: 25px;
  /* margin-top: 5px; */
  overflow: hidden;
}
.pagination-buttons {
  background-color: #6c6c7a00;
}
.pagination-buttons i {
  background-color: #6c6c7a00;
  color: #2b282e;
}
.pagination-button:active {
  border: none;
  color: #7a6d66;
}
.pagination-button:focus {
  border: none;
  outline: none;
}
.page-number {
  color: #2b282e;
  margin-top: 10px;
}
.blur {
  background-color: rgba(238, 238, 238, 0.795);
  backdrop-filter: blur(8px);
  transition: background-color, backdrop-filter 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 520px) {
  .logo {
    display: none;
  }
  .logo-small {
    display: flex;
  }
  a {
    text-decoration: none;
  }
}
@media only screen and (orientation: landscape) and (min-device-width: 360px) and (max-device-width: 720px) {
  .logo {
    display: none;
  }
  .logo-small {
    display: flex;
  }
  a {
    text-decoration: none;
  }
  .nav-bar {
    height: 50px;
  }
  .pagination {
    top: 50px;
    height: 35px;
    flex-direction: row;
  }
  .results {
    margin-top: 0px;
  }
  .main {
    padding: 85px;
  }
}
