* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.found-result {
  margin: 5px;
  width: 350px;
  height: 550px;
  overflow: auto;
  background-color: #26262e;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #282e26;
  display: flex;
  flex-direction: column;
  color: white;
  /* border: 1px solid #597a78; */
}
.found-result h3 {
  margin: 20px;
  font-weight: lighter;
}

.found-result-info {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}
.result-not-found {
  color: white;
  font-weight: lighter;
}
/*TODO: remove images when small screen, more like a list */
@media only screen and (max-width: 370px) {
  .found-result {
    width: 260px;
    height: 100px;
  }
  .found-result {
    font-size: 0.8rem;
  }
  .found-result img {
    width: 20px;
    height: auto;
    display: none;
  }
  .found-result-info {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .found-result-info::after {
    content: "Click for info";
  }
}
