.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.925);
  border-radius: 10px;
  z-index: 1000;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 500px;
  height: 350px;
}
.modal button {
  margin: auto;
  margin-right: 0px;
  padding: 2px;
  /* justify-self: flex-end;
  align-self: flex-end; */
}
.modal p {
  padding: 0 0 1rem;
}
.background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
}
