* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  height: 100px;
  width: 100vw;
  position: fixed;
  background-color: #2e2c2b;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.type-list {
  height: 30px;
  margin-right: 5px;
}
#search-type-select {
  height: 100%;
}
#search-type-select:focus {
  border: none;
  outline: none;
  background-color: white;
}
.search-wrapper {
  display: flex;
}
.search-element {
  display: flex;
  height: 30px;
  background-color: white;
}
.search-element:focus {
  background-color: white;
}
.search-element:active {
  background-color: #fff;
}
#search-button {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 0 10px 10px 0;
  /* box-shadow: 0 0 2px 1px #333; */
  padding: 0 10px;
  border-left: 1px solid #6c6c7a;
}
#search-button:focus {
  /* border: none; */
  outline: none;
}
#search-button:active {
  background-color: rgba(240, 238, 238, 0.918);
}
#search-input {
  border-radius: 10px 0 0 10px;
  width: 300px;
  border: none;
  font-size: 1rem;
  padding-left: 10px;
}
#search-input:focus {
  outline: none;
  border: none;
}
.main {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #6c6c7a;
  min-height: 100vh;
}
.results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.pagination {
  display: flex;
  position: fixed;
  top: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100vw;
}
.pagination-button {
  display: none;
  background-color: #6c6c7a00;
  border: none;
  width: 50px;
  height: 25px;
  margin-top: 5px;
}
.pagination-buttons {
  background-color: #6c6c7a00;
}
.pagination-buttons i {
  background-color: #6c6c7a00;
  color: #eee;
}
.pagination-button:active {
  border: none;
  color: #7a6d66;
}
.pagination-button:focus {
  border: none;
  outline: none;
}
.page-number {
  color: white;
  margin-top: 10px;
}
.blur {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.5s ease-in-out;
}
